<?xml version='1.0' encoding='utf-8'?>
<widget id="com.achodev.ama" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AmA 2</name>
    <description>Your all in one Vocabulary Dictionary</description>
    <author email="ahmedhdasi80@gmail.com" href="https://achodev.me">
        AchoDev
    </author>
    <content src="index.html" />

    <platform name="ios">
        
        <icon src="res/120.png"/>
        <icon src="res/152.png" />
        <icon src="res/167.png" />
        <icon src="res/1024.png" />

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />

        <splash src="res/splash.png" />

        <preference name="FadeSplashScreen" value="true"/>
        <preference name="iosPersistentFileLocation" value="Library" />

        <!-- <hook type="after_prepare" src="hooks/copyCordova.js" /> -->
    </platform>

    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="electron-build.json" />
    </platform>

    <!-- <content src="http://localhost:5173" /> -->
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
